:host {
  display: block;
  width: 100%;
  height: 100vh;
  /* Garante que o componente ocupe a altura total da viewport */
  background-color: lightgreen;
  /* O background específico da página */
  margin: 0;
  padding: 0;
}
