<nav class="navbar bg-dark navbar-expand-lg" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">João Luiz B. Morais</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sobre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Projetos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Resumo</a>
        </li>
      </ul>
    </div>

    <div></div>
    <a aria-current="page" href="https://github.com/JLpensador" target="_blank"
      ><img src="github.png" alt="GitHub"
    /></a>

    <a
      aria-current="page"
      href="https://www.linkedin.com/in/jo%C3%A3o-luiz-borges-morais-242751268/"
      target="_blank"
      ><img src="linkedin.png" alt="Linkedin"
    /></a>
  </div>
</nav>
