@media (max-width: 1280px) {
  .box {
    width: 60% !important;
    left: 40% !important;
  }
}

@media (max-width: 768px) {
  .box {
    width: 50% !important;
    left: 50% !important;
    top: 50% !important;
  }
}

.box {
  width: 30%;
  color: white;
  position: absolute;
  top: 45%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.texto {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
}

#titulo {
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  text-decoration: underline;
  text-decoration-color: #294380;
}

#sub {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 100;
  margin-bottom: 10%;
  align-self: baseline;
}
