:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100vw;

}

@media (max-width: 1280px) {
  :host {
    height: 30vh;
    width: 100vw;
    padding: 10px;
    box-sizing: border-box;
  }

  .box {
    width: 60% !important;
    top: 100% !important;
    right: 15% !important;
  }
}

@media (max-width: 710px) {
  :host {
    height: 25vh;
    width: 100vw;
    padding: 10px;
    box-sizing: border-box;
  }

  .box {
    width: 70% !important;
    bottom: 100% !important;
    right: 15% !important;
  }

  #sub {
    margin-bottom: 2% !important;


  }

  .texto {
    width: 140% !important;
  }
}

.box {
  width: 30%;
  color: white;
  position: relative;
  top: 25%;
  right: 25%;


}

.texto {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
}

#titulo {
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  text-decoration: underline;
  text-decoration-color: #4D818C;
}

#sub {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 100;
  margin-bottom: 10%;
  align-self: baseline;
}
