@media (max-width: 450px) {
  :host {
    width: 300% !important;
    margin-top: 50px !important;
  }
}

@media (max-width: 1080px) {
  :host {
    position: absolute;
    margin-left: auto !important;
    z-index: 10;
  }

  .texto {
    width: 160% !important;
    font-size: 20px !important;
  }

  #titulo {

    font-size: 30px !important;
  }

  #sub {
    font-size: 20px !important;

  }
}

:host {
  position: absolute;
  margin-top: 150px;
  margin-left: 150px;
  z-index: 10;

}

.box {
  width: 30%;
  color: white;
}

.texto {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
}

#titulo {
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  text-decoration: underline;
  text-decoration-color: #4D818C;
}

#sub {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 100;
  margin-bottom: 10%;
  align-self: baseline;
}
