<div class="box">
  <div class="sobre">
    <div id="titulo">Sobre Mim</div>
    <div id="sub">joaoluizborgesmorais&#64;gmail.com</div>
    <div class="texto">
      Estudante de Desenvolvimento de Sistemas na Escola Estadual de Educação
      Profissionalizante Mário Alencar. Minha jornada é alimentada pela busca
      constante de aprendizado e pela resolução de desafios complexos. Acredito
      firmemente que a tecnologia tem o poder de melhorar vidas e impulsionar
      negócios. Estou sempre buscando novas maneiras de inovar e criar soluções
      que causem um impacto positivo.
    </div>
  </div>
</div>
