@media (max-width: 850px) {
  :host {
    position: absolute;
    top: 350px !important;
    left: 0px !important;
  }
}

@media (max-height: 850px) {
  :host {
    top: 300px !important;

  }
}

@media (max-height: 850px) {
  :host {
    top: auto !important;
    left: auto !important;
    margin: 25px !important;
  }
}

:host {
  position: absolute;
  top: 400px;
  left: 200px;
  z-index: 10;
}

.box {
  color: white;
}

#fistName {
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
}

#lastName {
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
}

#description {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 300;
  font-style: normal;
}

.buttons {
  display: flex;
  gap: 20px;
  width: 100%;
}

#button {
  width: 100%;
  padding: 1%;
  border: 2px solid #0D0D0D;
  border-radius: 5px;
  font-size: clamp(8px, 5vw, 1rem);
  font-weight: 600;
  color: white;
  background-color: #2D3359;
  box-shadow: -2px 3px 0 #151B26, -4px 6px 0 #000;
}

#button:active {
  box-shadow: inset -4px 4px 0 #222;
  font-size: 0.9rem;
}
