:host {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 1), transparent), url('../../../../public/resumo-bg.png');
  display: block;
  background-size: cover;
  background-position: center;
}