.row {
  padding: 25px;
  font-size: 20px;
  color: white;
}

#titulo {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  text-decoration: underline;
  text-decoration-color: #4D818C;
}

#sub {
  font-size: 25px;
  font-style: italic;
  font-weight: bold;
}

.progress {
  width: 60%;
}

i {
  font-size: 30px;
}