<div class="container align-items-center">
  <div class="row align-items-baseline">
    <div class="col">
      <div class="softSkills">
        <div id="titulo">Soft Skills</div>
        <br />
        <div class="container">
          <div class="col">
            <i class="devicon-angular-plain"></i>
            Angular
            <div
              class="progress"
              role="progressbar"
              aria-label="Animated striped example"
              aria-valuenow="75"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <div
                class="progress-bar progress-bar-striped progress-bar-animated"
                style="width: 90%"
              ></div>
            </div>
          </div>
          <div class="col">
            <i class="devicon-docker-plain"></i>
            Docker
            <div
              class="progress"
              role="progressbar"
              aria-label="Animated striped example"
              aria-valuenow="75"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <div
                class="progress-bar progress-bar-striped progress-bar-animated"
                style="width: 40%"
              ></div>
            </div>
          </div>
          <div class="col">
            <i class="devicon-git-plain"></i>
            Git
            <div
              class="progress"
              role="progressbar"
              aria-label="Animated striped example"
              aria-valuenow="75"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <div
                class="progress-bar progress-bar-striped progress-bar-animated"
                style="width: 70%"
              ></div>
            </div>
          </div>
          <div class="col">
            <i class="devicon-nodejs-plain"></i>
            Node.Js
            <div
              class="progress"
              role="progressbar"
              aria-label="Animated striped example"
              aria-valuenow="75"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <div
                class="progress-bar progress-bar-striped progress-bar-animated"
                style="width: 60%"
              ></div>
            </div>
          </div>
          <div class="col">
            <i class="devicon-typescript-plain"></i>
            TypeScript
            <div
              class="progress"
              role="progressbar"
              aria-label="Animated striped example"
              aria-valuenow="75"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <div
                class="progress-bar progress-bar-striped progress-bar-animated"
                style="width: 80%"
              ></div>
            </div>
          </div>
        </div>
      </div>
      <br />

      <div class="HardSkills">
        <div id="titulo">HardSkills</div>
        <br />
        <div class="container">
          <div class="col">Adaptabilidade - Ética Profissional</div>
          <div class="col">Inteligência Emocional - Proatividade</div>
          <div class="col">Pensamento Crítico e Estratégico</div>
        </div>
      </div>

      <br />

      <div class="linguas">
        <div id="titulo">Linguas</div>
        <br />
        <div class="container">
          <div class="col">
            Português
            <div
              class="progress"
              role="progressbar"
              aria-label="Animated striped example"
              aria-valuenow="75"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <div
                class="progress-bar progress-bar-striped progress-bar-animated"
                style="width: 100%"
              ></div>
            </div>
          </div>
          <div class="col">
            Inglês
            <div
              class="progress"
              role="progressbar"
              aria-label="Animated striped example"
              aria-valuenow="75"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <div
                class="progress-bar progress-bar-striped progress-bar-animated"
                style="width: 75%"
              ></div>
            </div>
          </div>
          <div class="col">
            Japonês (Em Andamento)
            <div
              class="progress"
              role="progressbar"
              aria-label="Animated striped example"
              aria-valuenow="75"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <div
                class="progress-bar progress-bar-striped progress-bar-animated"
                style="width: 15%"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br />

    <div class="col">
      <div class="experiencia">
        <div id="titulo">Experiências</div>
        <br />
        <div class="container">
          <div class="col">
            <div id="sub">Conta Médica</div>
            Estagiário Técnico em Desenvolvimento de Sistemas 2024 - 2025 | 300
            Horas
          </div>

          <br />

          <div class="col">
            <div id="sub">MA Soluções</div>
            Técnico em Desenvolvimento de Sistemas 2022 - 2024
          </div>
        </div>
      </div>

      <br />

      <div class="Educação">
        <div id="titulo">Educação</div>
        <br />
        <div class="container">
          <div class="col">
            <div id="sub">EEEP Mário Alencar</div>
            Primeira Turma Curso Técnico em Desenvolvimento de Sistemas 2022 -
            2024
          </div>
        </div>
      </div>
    </div>

    <br />

    <div class="col">
      <div class="fazer">
        <div id="titulo">O que eu sei fazer</div>
        <br />
        <div class="container">
          <div class="col">Desenvolvimento de Sistemas</div>
          <div class="col">DevOps - Web - FullStack</div>
          <div class="col">Banco de Dados - Software</div>
        </div>
      </div>

      <br />

      <div class="cursos">
        <div id="titulo">Cursos de Capacitação</div>
        <br />
        <div class="container">
          <div class="col">
            <a href="harvardcc50.pdf"
              >CC50: Curso de Ciência da Computação de Harvard - 70 Horas</a
            >
          </div>
          <br />
          <div class="col">
            <a href="desenvolvimentoSoftware.pdf"
              >Fundamentos para Desenvolvimento de Software Por Microsoft e
              Linkedin - 5 Horas</a
            >
          </div>
          <br />
          <div class="col">
            <a href="1PAUDT8Y.pdf">Fundamentos do TypeScript - 8 Horas</a>
          </div>
          <br />
          <div class="col">
            <a href="TIMDBG7D.pdf">Microsoft Fundamentos de IA - 21 Horas</a>
          </div>
        </div>
      </div>

      <br />

      <div class="Outros">
        <div id="titulo">Outros</div>
        <br />
        <div class="container">
          <div class="col">Html5 - Css3 - Javascript</div>
          <div class="col">Ruby - SQL - Bootstrap</div>
          <div class="col">C - C++ - Python</div>
        </div>
      </div>
    </div>
  </div>
</div>
