<div class="container align-items-center">
  <div class="row align-items-baseline">
    <div class="col">
      <div class="softSkills">
        <div id="titulo">Soft Skills</div>

        <br />
        <div class="container skills">
          <div class="col">
            <i class="devicon-angular-plain"></i>
            Angular
          </div>

          <div class="col">
            <i class="devicon-bootstrap-plain"></i>
            Bootstrap
          </div>

          <div class="col">
            <i class="devicon-docker-plain"></i>
            Docker
          </div>

          <div class="col">
            <i class="devicon-git-plain"></i>

            Git
          </div>

          <div class="col">
            <i class="devicon-typescript-plain"></i>
            TypeScript
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="experiencia">
        <div id="titulo">Experiências</div>
      </div>
    </div>
    <div class="col">
      <div class="fazer">
        <div id="titulo">O que eu sei fazer</div>
        <br />
        teste
        <br />
        teste
        <br />
        teste
      </div>
    </div>
  </div>
</div>
